{$SCORM_SITE_ADDRESS:http://scorm.localhost} {
	encode zstd gzip
	handle /scorm-content/* { reverse_proxy api:8000 }
	handle { respond 404 }
}

{$APP_SITE_ADDRESS:http://localhost} {
	encode zstd gzip
	handle /api/* { reverse_proxy api:8000 }
	handle /admin/* { reverse_proxy api:8000 }
	handle /static/* { reverse_proxy api:8000 }
	handle /scorm-content/* { respond 404 }
	handle /media/* {
		root * /srv
		file_server
	}
	handle { reverse_proxy web:80 }
}
